<mat-toolbar class="title">
  <span>Smiley Says Hi!</span>
  <span class="toolbar-spacer"></span>
  <span>
    <button mat-button (click)="history.back()">
      <mat-icon aria-hidden="true">arrow_back</mat-icon>
      Go Back
    </button>
  </span>
</mat-toolbar>

<div class="smiley-container">
  <div id="smiley-face">
    <div class="mouth"></div>
    <div class="eye left-eye"></div>
    <div class="eye right-eye"></div>
    <div class="tongue">
      <div class="tongue-line"></div>
    </div>
  </div>
</div>
