@use '@angular/material' as mat;

.title {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    )
  );
}

.users-list {
  text-align: center;

  .title {
    margin: 0 0 12px;
    font-weight: 500;
  }

  .loading {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: var(--mat-sys-on-surface);
    margin: 90px;
  }

  .empty {
    color: var(--mat-sys-on-surface-variant);
    padding: 8px 0;
  }

  .search-field {
    height: 100%;
    padding-top: 5px;
  }

  .table-container {
    margin: 0 16px;
    overflow: auto;
    max-width: 100%;
  }

  table {
    width: 100%;
  }

  th.mat-header-cell,
  td.mat-cell {
    padding-inline: 12px;
  }

  .clickable-row {
    cursor: pointer;
  }
  .clickable-row:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}
