/* You can add global styles to this file, and also import other style files */

// Hide page size and range label on small screens
@media (width <= 800px) {
  .mat-mdc-paginator-page-size {
    display: none !important;
  }
}

// magic number: mobile breakpoint. unfortunately, Angular Material doesn't expose the breakpoints in a variable.
@media (width < 600px) {
  .mat-mdc-paginator-range-label {
    display: none !important;
  }
}
