@use '@angular/material' as mat;
@use './frontend_theme-colors';
@use './global-overrides.scss';

@include mat.core();

// Expose system-level design tokens (CSS variables) so body styles can use them.
:root {
  @include mat.system-level-colors(frontend_theme-colors.$light-theme);
  @include mat.system-level-typography(frontend_theme-colors.$light-theme);
}

html {
  @include mat.all-component-themes(frontend_theme-colors.$light-theme);
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
