.form-grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (min-width: 720px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
  .form-grid .full-width {
    grid-column: 1 / -1;
  }
}
mat-dialog-content {
  padding-top: 8px;
}
